.login-view {
    position: absolute;
    top: 50%;
    margin-top: -141px;
    margin-left: -101px;
    left: 50%;
}

.login-message {
    font-size: 18px;
    font-weight: bold;
    color: #464646;
}

.inputs-block {
    padding: 15px;
    border: 1px solid #dedede;
    border-radius: 7px;
}

.login-button {
    width: 100%;
    font-size: 18px;
}

.report {
    margin-bottom: 15px;
    color: #CA4D4D;
    font-weight: bold;
}

/*********static-block***********/
#loadingMessage {
	font-family: Verdana, Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #444444;
	vertical-align: middle;
	text-align: left;
}

.app-loading {
	background-color: #DDD;
}

.content-container {
	margin-bottom: 10px;
}

/*---------logout-link----------*/
#logout-link {
	cursor: pointer;
}

/*---------sspobject edit popup----------*/
.modal-dialog {
	padding-top: 120px;
}

.left.block {
	border-right: 1px solid #AFAFAF;
}

.tree-scroll-wrap {
	border: 1px solid #DDD;
	padding: 5px 8px;
	max-height: 300px;
}

/*--чтоб bootstrap попап не перекрывал--*/
.dateBoxPopup {
	z-index: 1050;
}

.gwt-Label {
	font-weight: bold;
	margin-bottom: 5px;
}
/*----------spp-object-view--------*/
.sspobject-view-scroll {
	padding-right: 0px;
	border: solid 5px #F1F1F1;
	border-radius: 3px;
	width: 100%;
	padding-bottom: 49px;
}

.edit-popup-scroll {
	max-height: 420px;
	margin-top: 10px;
	padding-right: 10px;
}

.content-panel {
	padding: 10px;
	border-top: 1px solid #AAA;
}

.view-caption {
	float: left;
	text-transform: capitalize;
}

.form-horizontal {
	display: inline;
}

.control-label {
	margin-right: 10px;
}

.control-label.label-left {
	width: 113px;
}

.user-edit-block .control-label.label-left {
	width: 170px;
}

.user-role-select .control-label.label-left {
    width: 425px;
    font-weight: normal;
}

.user-role-select>.caption{
	font-weight:bold;
	width: 170px;
}

.form-horizontal .form-group {
	margin-left: 0px;
	margin-right: 0px;
}

.header-control {
	float: right;
	margin-top: 20px;
}

.form-horizontal.header-control {
	margin-left: 10px;
}

.header-control.icon {
	margin-left: 10px;
	padding-bottom: 10px;
}

.object-selector .object-node {
	font-size: 16px;
	font-weight: normal;
	margin: 5px;
}

.object-selector .object-node .gwt-TreeItem {
	padding: 10px 5px;
}

.object-selector .object-node .gwt-TreeItem.gwt-TreeItem-selected {
	background-color: #dfedf8;
}

.object-selector .object-node.has-child {
	font-size: 14px;
	font-weight: bolder;
	margin: 10px 0px;
}

.object-selector .object-node.has-child img {
	margin-right: 7px;
}

.object-selector .object-node.is-layer-node .gwt-TreeItem {
	padding-left: 7px;
}

.object-selector .object-node.is-layer-node .gwt-TreeItem:before {
	content: '';
	position: absolute;
	height: 15px;
	width: 17px;
	margin-right: -17px;
	background-image: url('../img/layer-icon.png');
	margin-left: -29px;
	margin-top: 2px
}

.form-control.horizontal-input {
	width: 270px;
	display: inline;
	padding: 6px;
}

/*----------gwt-widget---------*/
.gwt-CheckBox {
	display: block;
	padding: 5px 0;
}

.gwt-CheckBox label {
	margin-left: 5px;
}

.gwt-DateBox {
	text-align: center;
	width: 100px;
}

/*********alerts-correction********/
.alert {
	max-width: 500px;
	max-height: 125px;
	text-overflow: ellipsis;
	overflow: hidden;
}

/*****CFO edit popup*********/
.cfo-edit-popup .content-scroll {
	max-height: 560px;
}

.cfo-sections-table .form-group{
	margin-bottom:0px;
}

.cfo-sections-table > tbody > tr > td{
    vertical-align: middle;
}

.cfo-sections-table .control-label{
	padding-top: 0px;
}

.cfo-sections-table .section-name{
    width: 90%;
}

table.disclosure-panel{
	 width: 100%;
}

.disclosure-panel .header-text{
	margin-bottom:5px;
}

.disclosure-panel a:hover{
	text-decoration:none;
}
